@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montagu Slab', serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tareas__container{
    display: flex;
    margin-bottom: 3rem;
    padding: 10px;
}

.tareas__container .nombre_tarea{
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nombre__tarea.selected{
    box-shadow:0px 0px 0px 2px black inset;
}
.agenda__container{
    background: linear-gradient(#c7dfe2, #a5bbdb);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.dias__container{
    display: flex;
}
.corner{
    width: 50px;
    height: 70px;
    margin: 2px;
}
.dia{
    width: 100px;
    border: solid 1px white;
    color: #0d0f13;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.division__dia{
    display: flex;
}
.tiempo{
    width: 50px;
    color: white;
    background-color: #4a4e69;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.tarea{
    background-color: white;
    height: 70px;
    width: 100px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
}
.deleteBtn{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}
.deleteBtn:hover{
    background-color: rgb(228, 150, 150);
}
.pop-up__container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-up{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #00b4d8;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.btn__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__answer{
    margin: 0 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.panel__container{
    display: flex;
    flex-direction: row;
}
.panel__container__inputs{
    display: none;
}
.inputs__active{
    display: flex;
    flex-direction: column;
}
.btnAdd{
    display: flex;
    height: 4vh;
    width: 3vw;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.porcentajeBtn{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 10px;
    background-color: #d7e3fc;
    border-radius: 2px;
}
.porcentajeBtn:hover{
    background-color: rgb(228, 150, 150);
}